DATABASE_URL=postgresql://neondb_owner:npg_bR6cASvqK2iT@ep-wild-math-afly5fik-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET="ASDOIjusxzc90ui21e09wqduajscoijm21qw0a9sducz89uy"
APP_URL="http://localhost:3000"
